*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	list-style:none;
}


.flexsec{
	display:flex;
	max-width:155px;
	flex-flow:column;
	margin:0 auto;
	flex:1 1 0;
	margin-top:17%;

}

form > input {
	margin-bottom:20px;
}

#bt_submit {
	padding:9px;
	border-radius:500px;
}
